@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=PT+Sans&family=Roboto+Mono:wght@100&display=swap');

* {
    text-decoration: none;
    font-family: arial;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --main-color1: gold;
    --main-color2: #f0b802;

}

span {
    color: #333d92;
}

body {
    background-color: #e9e5e5;

}

input:focus {
    outline: none;
}

#activo {
    color: blue !important;
}

/*=============
    loader
=============== */

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    background-color: white;
    z-index: 300;
}
.load{
    width: 4rem;
    height: 4rem;
    border-radius: 80px;
    border: 10px solid whitesmoke;
    border-right: 10px solid  #2656b1;
    border-top: 10px solid  #2656b1;
    transition: all 0.5s;
    animation: loader 3s infinite linear;
}

@keyframes loader{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}

/*=============
    timer
=============== */

.timer{
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    margin: 50px 0;
}
.timer h1{
    color: #ffffff;
    font-size: 50px;
}
.timer p{
    font-size: 60px;
    color: #2656b1;
    font-family: courier;
    font-weight: bold;
}


/*=============
    Scroll
=============== */

::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(20deg, rgb(19, 18, 18), rgb(21, 23, 92));
}

/*=============
    js btn
=============== */
.whatssap {
    width: 3.5rem;
    height: 3.5rem;
    background-color: green;
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: fixed;
    bottom: -80px;
    left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 55;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
}



/*=============
    titre option
=============== */

.titre {
    width: 44%;
    padding-bottom: 10px;
    border-bottom: 5px solid rgb(34, 34, 33);
    color: #444342;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin: 40px 0;
}

.titre2 {
    width: 44%;
    padding-bottom: 10px;
    border-bottom: 5px solid white;
    color: #ffffff;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin: 20px 0 0;
}

/*=============
    panier
=============== */

.panier {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: fixed;
    top: 130px;
    right: 0;
    padding: 15px;
    background: #254e83;
    font-size: 25px;
    color: white;
    cursor: pointer;
    z-index: 5;
}

.niba {
    padding: 3px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.panier-container {
    background-color: #171122;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    color: white;
}

.panier-container::-webkit-scrollbar {
    width: 0;
}

.contt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.panier-img {
    width: 10rem;
    height: 10rem;
}

.panier-bn {
    margin: 20px 0;
    text-align: center;
    width: fit-content;
    padding: 20px;
    border-right: 1px solid rgb(59, 59, 59);
}
#total{
    color: tomato;
}
.prci {
    color: #348cff;
    margin: 5px 0 10px;
}

.mrg {
    margin: 10px 0;
}

.in {
    width: 50px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 12px;
    border: 2px solid #333d92;
}

.up {
    padding: 5px;
    color: white;
    background-color: #333d92;
    border: 1px solid white;
    border-radius: 12px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

.deleet {
    padding: 3px 10px;
    width: 150px;
    color: white;
    font-size: 20px;
    background-color: #ff5d5d;
    border: 1px solid white;
    border-radius: 12px;
    margin: 5px 0;
    cursor: pointer;
}

.favorite-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: black;
    margin-top: 50px;
}

.favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 5px 13px;
    border-radius: 30px;
    background: white;
    margin: 10px;
}

.img5 {
    width: 4rem;
    height: 4rem;
}

.nm {
    color: #112357;
    margin: 10px;
}
.buyy{
    width: 50%;
    background-color: #348cff;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    padding: 5px 0;
    margin: 15px auto;
    cursor: pointer;
}
/*=============
    login header
=============== */

.login-header {
    background: #000000;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.login-header a, .login-header2 a {
    padding: 10px;
    color: white;
}
.login-header a:hover, .login-header2 a:hover{
    color: #8da9fd;
 
}
.login-header2 {
    background: #000000;
    padding: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*=============
    header
=============== */

.simple-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid #757474;
    border-top: 2px solid #757474;
    color: white;

}

.logo-container {
    color: whitesmoke;
    margin-left: 20px;
    font-size: 20px;

}

.logo-container h1, .logo-container span {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.simple-header a {
    margin: 0 5px;
    font-size: 20px;
    color: #757474;
    padding: 10px;
    transition: all 0.5s;
}

.simple-header a:hover {
    color: #bdbbbb;
}

/*=============
   phone header
=============== */


.phone-header {
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid #757474;
    color: white;
    width: 100%;
    border-top: 2px solid #757474;
}

.icon-phone {
    font-size: 35px;
    cursor: pointer;
}

/*=============
    nav bar
=============== */

#hidden {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45%;
    z-index: 99;
    border-left: 3px solid #757474;
    transition: all 0.5s;
    transform: translateX(150vh);

}

.exite-icon {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.exite-icon:hover {
    transform: rotate(360deg);
    color: rgb(169, 169, 172);
}

#hidden a {
    color: #b2b3af;
    font-size: 25px;
    border-left: 5px solid rgb(73, 73, 73);
    width: 80%;
    text-align: center;
    margin: 10px 0;
    transition: 0.5s;
    font-family: arial;
}

#hidden a:hover {
    border-right: 5px solid rgb(88, 88, 88);
    border-left: none;
    color: rgb(255, 255, 245);
}

#active {
    border-right: 5px solid rgb(141, 141, 141);
    border-left: none !important;
    color: #fffff5 !important;
}

/*=============
    main
=============== */

.main {
    height: 70vh;
    background: linear-gradient(#000000, #1f1f1f);
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;



}

.main h1 {
    font-size: 35px;
    opacity: 0.9;


}

.img {
    width: 30rem;
    position: absolute;
    top: 0px;
    right: 50px;
    opacity: 0.5;
    z-index: 1;
}

.icon {
    font-size: 30px;
    margin: 10px 5px;
    color: #c5c5c5;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    z-index: 2;

}

.icon:hover {
    color: gray;
}

@keyframes header {
    0% {
        border-bottom-left-radius: 35%;
        border-bottom-right-radius: 35%;
    }

    50% {
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;
    }

    100% {
        border-bottom-left-radius: 35%;
        border-bottom-right-radius: 35%;
    }
}

/*=============
    card
=============== */

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 300px;
    background-color: rgb(255, 251, 251);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.253);
    cursor: pointer;
    color: black;
    transition: 0.5s;


}

.container:hover {
    transform: scale(1.05);
}

.stockout {
   width: 5rem;
   height: 5rem;
    position: absolute;
    top: 20px;
    left: 20px;
}

.sold {
    padding: 10px 30px;
    background-color: rgb(238, 9, 9);
    color: white;
    font-size: 20px;
    width: 160px;
    height: 50px;
    bottom: 30px;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    opacity: 0.8;
}

.shop-img {
    height: 15rem;
}

.nf2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.watch-title{
    font-size: 20px;
    font-family: arial;
    
}

.price {
    color: #e68608;
}

.price-solded {
    font-size: 20px;
    color: #050505;
    opacity: 0.8;
    text-decoration: line-through;
    transform: scale(0);
}

.mino {
    display: block;
    width: 50%;
    margin: 10px;

}

.mine {
    width: 20%;
    display: inline-block;
    color: white;
    font-size: 40px;
    background-color: rgb(248, 98, 11);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;


}

.numb {
    background-color: white;
    display: inline-block;
    font-size: 30px;
    width: 20%;
    text-align: center;
    padding: 2px 5px;
    user-select: none;
}

.plus {

    width: 20%;
    display: inline-block;
    color: white;
    font-size: 40px;
    background-color: rgb(31, 177, 55);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

.btn {
    margin: 50px auto;
    display: block;
    padding: 10px;
    border: 2px solid #121241;
    color: #1b1b41;
    border-radius: 8px;
    background-color: inherit;
    font-size: 20px;
    font-weight: bolder;
    width: 300px;
    text-align: center;
    transition: all 0.5s;

}

.file {
    border: none;
    width: 50%;
}

.btn:hover {
    transform: scale(1.05);
}

/*=============
    card info
=============== */

.watch-info {
    position: fixed;
    width: 90%;
    background-color: #222;
    height: 90%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 888;
    margin: 50px auto;
    color: white;
    display: none;
}

.watch-info-container {
    display: flex;
}

.texte-container {
    height: 590px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.texte-container {
    font-size: 15px;
    font-weight: 100;

}

.img-container {
    height: 590px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-img {
    width: 20rem;

}

.friends {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nf {
    border: 2px solid tomato;
    border-radius: 8px;
    height: 40px;
    width: 60px;
    display: block;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.ht {
    color: tomato;
    cursor: pointer;
    font-size: 35px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid tomato;
    transition: all 0.5s;
    background-color: inherit;

}

.ht:hover {
    color: #fd2a05;
    border: 2px solid #fd2a05;
}

/*=============
    Contact social
=============== */
.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.cardes {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #222;
    color: white;
    width: 250px;
    padding: 15px;
    flex-direction: column;
    position: relative;
    height: 250px;
    margin: 15px;
    transition: all 0.5s;
    animation: body 1s 1;
    box-shadow: 1px 1px 15px rgb(14, 14, 14);
}

.cardes:hover {
    transform: scale(1.1);
}

.cardes::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 100%;
    background-color: rgba(35, 72, 141, 0.267);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 0;
    right: 0;

}

.cardes i {
    font-size: 66px;
    color: rgb(15, 216, 15);

}



/*=============
    Contact
=============== */

.form {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;


}

label {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: 400;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.input-container {
    display: flex;
    text-align: center;
    width: 100%;
}

.input-container i {
    background-color: #112357;
    font-size: 23px;
    color: white;
    padding: 8px;
}

.input {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #112357;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.textarea {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #112357;
    border-radius: 8px;
    resize: none;

}

.send-btn {
    width: 50%;
    margin: 30px auto;
    padding: 5px 0;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid #112357;
    color: white;
    letter-spacing: 5px;
    background: linear-gradient(40deg, #112357, #536496);
    transition: all 0.5s;
}

.send-btn:hover {
    transform: scale(1.1);
}

/*=============
    shop
=============== */

.litle-header {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px;
}

.wtc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    color: black;
    margin: 20px;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.active:hover {
    color: #7070da;
}

.popup-contianer {
    position: relative;
}

.popup {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px;
    top: 25px;
    transition: all 0.1s ease;
    transform: scale(0);
}

.popup a {
    color: black;
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(133, 133, 133);
}

.popup a:hover {
    color: #112357;
}

/*=============
    shop btn
=============== */

.big-btn{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    margin: 10px 0;

}
.big-btn h1{
    color: white;
    font-size: 23px;
    margin: 10px;
}
.big-btn a{
    width: 150px;
    background-color: #112357;
    color: white;
    padding: 10px 0;
    border-radius: 30px;
    text-align: center;
    font-size: 23px;

}

/*=============
    About
=============== */



/*=============
    service
=============== */


.service{
    text-align: center;
    width:20%;
    margin: 10px;
    background: linear-gradient(black,#222);
    color: white;
    padding: 20px 0;
}

.service i{
    color: #2656b1;
    font-size: 60px;
}


/*=============
    About
=============== */
.rayek {
    display: block;
    width: 95%;
    margin: 10px auto;
}

.bigest {
    margin-left: 20px;
    width: 300px;
}

.bigest-container {
    display: flex;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 15px #a8a8a8;
    padding: 10px;
    flex-wrap: wrap;
}

.bigest h1, .bigest p {
    text-align: center;
}

.im {
    width: 300px;

}

.picture {
    display: flex;
}

.pictures {
    width: 5rem;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    margin: 8px;
    padding: 2px;
    cursor: pointer;
}

.bigest h1 {
    color: #536496;
}

.info {
    width: 40%;
    margin-left: 30px;
}

.ttl {
    font-size: 25px;
    border-bottom: 1px solid #000000;
    padding-bottom: 20px;
    width: 100%;
}

.opt1 {
    font-size: 20px;
}

.prc {

    color: #fd5a3d;

}

.optino {
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #333d92;
    width: fit-content;
    padding: 5px;
    color: #7070da;
    cursor: pointer;
    margin: 20px 0;
}

.add {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #fc3908;
    background-color: #fd5a3d;
    color: white;
    font-weight: bolder;
    border-radius: 8px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.5s;
}

.add:hover {
    transform: scale(1.05);

}
/*=============
    payement pop up
=============== */

.cach{
    position: fixed;
    top: 0;left: 0;right: 0;left: 0;bottom: 0;
    background-color: #fdfdfd00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    flex-direction: column;
    transform: scale(0);
    transition: 0.5s ease;
    z-index: 2;
    
}
.cach::-webkit-scrollbar{
    width: 0;
}
.indo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.method{
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    width: 60%;
}
.method p{
    width: 100%;
    cursor: pointer;
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #535fd1;
}

.indo div{
    padding: 20px;
    display: flex;
    flex-direction:column;
    background-color: white;
    width: 60%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius:12px;
    text-align: center;
    justify-content: center;
}
.indo div .inputsx{
    width: 100%;
}
.b{
    margin: 0 auto;
    background-color: tomato;
}
#sq{
    color: rgb(43, 226, 43);
}
.indo div input{
    margin: 5px;
    display: block;
    outline: none;
    font-size: 25px;
    padding: 10px;
    border:none;
    border-bottom: 2px solid #348cff;
    width: 100%;
    border-radius: 0px;
}
/*=============
    confirm
=============== */

.nice{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nice2{
    width: 100%;
    height: 50vh;
    background-color: #c3ffc3;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
}
.nice2 div{
    text-align: center;
}
.nice2 div i{
    font-size: 200px;
    color: #27ec27;
}
.nice2 h1 {
    color: green;
}
/*=============
    paypal payment
=============== */

.bns{
    margin: 0 auto !important;
    width: 50% !important;
    z-index: 1  !important;
    color: white;
}



@keyframes body {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media (max-width:850px) {
    .phone-header {
        display: flex;
    }

    #hidden {
        width: 50%;
    }

    .simple-header {
        display: none;
    }

    .img {
        display: none;
    }

    .icon {
        display: none;
    }

    .logo-container {
        margin-left: 0px;
        font-size: 15px;
    }

    .btn {
        width: 60%;
    }

    .form-container {
        width: 80%;
    }

    .active {
        margin: 0 10px;
        font-size: 20px;
        
    }

    .litle-header {
        top: 65px;
    }

    .we-dont-use-it-again {
        display: none;
    }

    .info {
        width: 100%;
    }

    .main {
        animation: none;
    }
    .method{
        width: 100%;
    }
    .indo div{
        width: 100%;
    }
    .cach::-webkit-scrollbar{
        width: 0;
    }
    .service{
        width: 48%;
    }
    .timer h1{
        font-size: 30px;
    }
    .timer p{
        font-size: 30px;
        
    }


}